<%- include('../../partials/header') -%>
<%- include('../../partials/navbar') -%>
<div class="container">
    <hr>
    <div class="card mt-5">
        <div class="card-header">
            <h2>Login de Admin</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/authenticate" >
                <input name="email" type="text" class="form-control" placeholder="seuemail@email.com.br"><br>
                <input name="password" type="password" class="form-control" placeholder="********"><br>
                <button type="submit" class="btn btn-success btn-block">Logar</button>
            </form>
        </div>
    </div>
</div>


<%- include('../../partials/footer') -%>
